DISCORD_CHANNEL_URL=https://discord.com/channels/1227423505726050386/1365337100861575188
TIMEZONE=America/Costa_Rica
MAX_ITEMS=7
DRY_RUN=true
HEADLESS=true
PLAYWRIGHT_PROFILE_DIR=./playwright-profile
